// Custom styles.
/*.cssLoading{
	width: 60px;
	height: 60px;
	margin: 0 auto;
	margin-top: 20%;
	position: relative;
	-webkit-animation: load 3s linear infinite;
}
.cssLoading div{
	width: 100%;
	height: 100%;
	position: absolute;
}
.cssLoading span{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #99CC66;
	position: absolute;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
	-webkit-animation: changeBgColor 3s ease infinite;
}
@-webkit-keyframes load{
	0%{
		-webkit-transform: rotate(0deg);
	}
	33.3%{
		-webkit-transform: rotate(120deg);
	}
	66.6%{
		-webkit-transform: rotate(240deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes changeBgColor{
	0%,100%{
		background: #99CC66;
	}
	33.3%{
		background: #FFFF66;
	}
	66.6%{
		background: #FF6666;
	}
}
.cssLoading div:nth-child(2){
	-webkit-transform: rotate(120deg);
}
.cssLoading div:nth-child(3){
	-webkit-transform: rotate(240deg);
}
.cssLoading div:nth-child(2) span{
	-webkit-animation-delay: 1s;
}
.cssLoading div:nth-child(3) span{
	-webkit-animation-delay: 2s;
}*/



body {
    cursor: url(../images/funny.png),auto;
	background:url(http://p5tq1m3a9.bkt.clouddn.com/hexo_blog/body-bg.jpg);
    background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
}
a:hover {
   cursor: url(../images/sinister.png), auto;
}

.body-bg{
    background:url(../images/bg.jpg);
    background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
}

.js-open {
    display: block!important
}

.js-hidden {
    display:none!important;
}

::-webkit-scrollbar {
    -webkit-appearance:none;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: inherit;
}

::-webkit-scrollbar-thumb {
    background-color:#b6b6b6;
    border:1px solid #fff;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9d9d9d
}

::-webkit-scrollbar-thumb:active {
    background-color: #838383
}

div.headband{
	height: 2px;
	background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* 标准的语法（必须放在最后） */
}
div.back-to-top{
    color: #fff;
	background: #222;
}
.post-block {
    width: 95%;
    margin: 0 auto;
}
// 主页文章添加阴影效果
 .post:hover {
   -webkit-box-shadow: 0 15px 30px rgba(0,0,0,.1);
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
    border-radius: 2px;
  }
  div#posts .post:hover {
  -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    -webkit-transform: 0 0 0;
    transform: translate3d(0, 0, 0);
    border-radius: 0px;
  }
  
  .content-wrap,.header-inner,.sidebar-inner,.sidebar{
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 30px rgba(10, 10, 0, 0.1) inset;
	background: rgba(255,255,255,0.85) none repeat scroll !important;
  }

// 自定义页脚跳动的心样式
@keyframes heartAnimate {
    0%,100%{transform:scale(1);}
    10%,30%{transform:scale(0.9);}
    20%,40%,60%,80%{transform:scale(1.1);}
    50%,70%{transform:scale(1.1);}
}
#heart {
    animation: heartAnimate 1.33s ease-in-out infinite;
}
.with-love {
    color: rgb(255, 113, 168);
}
