// Custom styles.

body {
    cursor: url(../images/normal.cur),auto;
    background:url(../images/bg.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}
a:hover {
   cursor: url(../images/link.cur), auto;
}

.body-bg{
    background:url(../images/bg.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}

.js-open {
    display: block!important
}

.js-hidden {
    display:none!important;
}
//滚动条
::-webkit-scrollbar {
    -webkit-appearance:none;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: inherit;
}

::-webkit-scrollbar-thumb {
    background-color:#b6b6b6;
    border:1px solid #fff;
    border-radius:10px;
	  background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0, #f1ccb8), color-stop(0.1, #f1f1b8), color-stop(0.2, #b8f1ed), color-stop(0.3, #b8f1cc), color-stop(0.4, #CDDC39), color-stop(0.5, #e7dac9), color-stop(0.6, #FFC107), color-stop(0.7, #dcff93), color-stop(0.8, #b7d28d), color-stop(0.9, #f2debd));
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9d9d9d;
	  background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0, #ff0000), color-stop(0.1, #ff9600), color-stop(0.2, #fc9b00), color-stop(0.3, #ff0), color-stop(0.4, #00ff00), color-stop(0.5, #0089ff), color-stop(0.6, #FFC107), color-stop(0.7, #00f), color-stop(0.8, #ff0700), color-stop(0.9, #ff4c00));
}

::-webkit-scrollbar-thumb:active {
    background-color: #838383;
	  background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0, #ff0000), color-stop(0.1, #ff9600), color-stop(0.2, #fc9b00), color-stop(0.3, #ff0), color-stop(0.4, #00ff00), color-stop(0.5, #0089ff), color-stop(0.6, #FFC107), color-stop(0.7, #00f), color-stop(0.8, #ff0700), color-stop(0.9, #ff4c00));
}
//头部彩条
div.headband{
    position: fixed;
    width: 100%;
    z-index: 9;
    height: 2px;
    background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* 标准的语法（必须放在最后） */
}

div.back-to-top{
    color: #fff;
	  background: #222;
}
//文章宽度
.post-block {
    width: 95%;
    margin: 0 auto;
}
// 主页文章添加阴影效果
.post:hover {
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,.1);
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
    border-radius: 2px;
}
div#posts .post:hover {
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    -webkit-transform: 0 0 0;
    transform: translate3d(0, 0, 0);
    border-radius: 0px;
}

.content-wrap,.header-inner,.sidebar-inner,.sidebar{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 30px rgba(10, 10, 0, 0.55) inset;
    // background: rgba(255,255,255,0.8) none repeat scroll !important;
    background: rgba(255,255,255,0.4) none repeat scroll !important;
}

// 自定义页脚跳动的心样式
@keyframes heartAnimate {
    0%,100%{transform:scale(1);}
    10%,30%{transform:scale(0.9);}
    20%,40%,60%,80%{transform:scale(1.1);}
    50%,70%{transform:scale(1.1);}
}
#heart {
    animation: heartAnimate 1.33s ease-in-out infinite;
}
.with-love {
    color: rgb(255, 113, 168);
}

// 底部波纹
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    /* background-image: linear-gradient(to top, #86377b 20%, #27273c 80%); */
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.back-to-top.back-to-top-on {
  bottom: 90px;
}

//loading
#loading-wrap{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: #FFF;
	z-index: 1;
    display: block;
}
#loading{
	position:fixed;
	line-height:30px;
	text-align:center;
	transform:translate(-50%,-50%);
	left:50%;
	top:50%;
	border-radius:50%;
}
#loading input:focus {
    outline: none;
}