<div id="loading-wrap">
    <div id="loading">
        <p><font color="gray">正在载入，请稍候.......</font></p>
        <p> 
            <input type="text" id="chart" size="46" readonly style="font-family:Arial; font-weight:bolder; color:gray; background-color:white; padding:0px; border-style:none;">
            <br>
            <input type="text" id="percent" size="46" readonly style="font-family:Arial; color:gray; text-align:center; border-width:medium; border-style:none;">
        </p>
    </div>
</div>