{% if post.top %}
    <span class="post-meta-item">
      <span class="post-meta-item-icon">
        <i class="far fa-thumb-tack"></i>
      </span>
      <span class="post-meta-item-text">置顶</span>
    </span>
{% endif %}